html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orangered
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: crimson;
}
nav {
    
}
#title {
    color: white;
    margin-top: 15px;
    margin-bottom: -5px;
    float: right;
    margin-right: 20px;
}
#source {
    float:right;
    font-size: 200%;
    color: white;
    margin-top: 15px;
    margin-right: 7px;
}